*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', normal;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

h2{
    text-align: center;
}

.logo{
    width: 8rem;
    aspect-ratio: 1/1;
}

/* h1{ */
    /* background-image: url(https://i.postimg.cc/HnpnnBqw/pawel-czerwinski-3k9-PGKWt7ik-unsplash.jpg); */
    /* background-size: cover; */
/* } */
.main{
    margin-bottom: 4.5rem;
}

.aboutimage{
    width: 20rem;
    aspect-ratio: 1/1;
}

[alt="homepage"]{
    margin-top: 40px;
    width: 21rem;
    height: 11rem;
    border-radius: 20%;
}

a {
    text-decoration: underline;
    color: black;
}

form{
    display: grid;
}



.space{
    height: 41vh;
}

footer{
    text-align: center;
    background-color: rgb(228, 228, 228);
    padding: 20px;
}

.featured {
    font-size: larger;
    margin-top: 15px;
}

.card{
    text-align: center;
    width: 18rem;
}

[featured-products]{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

#checkoutinput{
    width: 50px;
}

#adminImg{
    width: 100px;
}

#adminEdit{
    padding: 2px;
    background-color:rgb(72, 255, 0);
    aspect-ratio: 1/1;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

#adminDelete{
    padding: 2px;
    background-color:rgb(255, 0, 0);
    aspect-ratio: 1/1;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: white;
}

.contactbutton{
    display: flex;
    justify-content: center;
    width: 100px;
}