*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

h2{
    text-align: center;
}

.logo{
    width: 8rem;
    aspect-ratio: 1/1;
}

/* h1{ */
    /* background-image: url(https://i.postimg.cc/HnpnnBqw/pawel-czerwinski-3k9-PGKWt7ik-unsplash.jpg); */
    /* background-size: cover; */
/* } */
.main{
    margin-bottom: 27rem;
}
